* {
    box-sizing: border-box;
}
body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ddd;
}
ul, ol, li {
    margin: 0;
    padding: 0;
    list-style: none;
}
button {
    background: none;
    border: none;
}
.contenedor {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.telefono {
    width: 400px;
    height: 200px;
    border: 3px dashed #999;
    display: flex;
    align-items: center;
    background-color: #fff;
}
.telefono > * {
    flex: 1;
}
.botones {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.botonera {
    width: 100px;
    display: flex;
    flex-wrap: wrap;
}
.botonera li {
    flex: 0 0 33.333333333%;
}
.botonera button {
    width: 100%;
    border-bottom: none;
    border-right: none;
}
button {
    width: 99px;
    border: 1px solid #060;
    padding: 10px;
    cursor: pointer;
    color: #000;
}
button:hover {
    background-color: #060;
    border-color: #fff;
    color: #fff;
}
.botonera li:nth-child(3) button, .botonera li:nth-child(6) button, .botonera li:nth-child(9) button {
    border-right: 1px solid #060;
}
.acciones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 70%;
}
.acciones .off {
    display: none;
}
.acciones a {
    text-decoration: none;
    color: inherit;
    padding: 20px;
    color: #fff;
    width: 120px;
    text-align: center;
    transform: scale(0.9);
    transition: all 0.3s ease-out;
    border-radius: 10px;
    cursor: default;
    opacity: 0.5;
}
.acciones a.activo {
  cursor: pointer;
  opacity: 1;
}
.acciones a.activo:hover {
    transform: scale(1);
}
.acciones .llamar {
    background-color: #060;
}
.acciones .colgar {
    background-color: #900;
}
.numero {
    display: inline-block;
    margin-bottom: 10px;
    border: 1px solid #999;
    padding: 5px;
    width: 100px;
    height: 30px;
    border-radius: 5px;
}
.mensaje {
    font-size: 1.2em;
    margin-bottom: 10px;
}
.mensaje.off {
    visibility: hidden;
}
.error {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #600;
    color: #fff;
    padding: 20px;
    transition: all 0.5s;
}
.error.off {
    top: -60px;
}